// App级全局样式
html, body {
  font-size 20px
}

// 页面容器
.page-container {
  position relative
  overflow hidden

  // 前进
  .page-forward-leave-active {
    position absolute
    z-index -1
    animation page-forward-out 0.5s
  }
  .page-forward-enter-active {
    animation page-forward-in 0.5s
  }

  // 后退
  .page-back-leave-active {
    position absolute
    z-index -1
    animation page-back-out 0.5s
  }

  .page-back-enter-active {
    animation page-back-in 0.5s
  }
}


@keyframes page-forward-out {
  from {
    opacity 0.5
    transform translate3d(0, 0, 0)
  }
  to {
    transform translate3d(-100%, 0, 0)
    opacity 0
  }
}

@keyframes page-forward-in {
  from {
    opacity 0.2
    transform translate3d(100%, 0, 0)
  }
  to {
    opacity 1
    transform translate3d(0, 0, 0)
  }
}

@keyframes page-back-out {
  from {
    opacity 0.5
    transform translate3d(0, 0, 0)
  }
  to {
    transform translate3d(100%, 0, 0)
    opacity 0
  }
}

@keyframes page-back-in {
  from {
    opacity 0.2
    transform translate3d(-100%, 0, 0)
  }
  to {
    opacity 1
    transform translate3d(0, 0, 0)
  }
}
